<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Tambah Medical Supplies</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar(title= 'Tambah Medical Supplies')"></nav>
	<div class="container-fluid">
		<div class="row" >
			<div class="col-md-6">
				<div class="card">
					<div class="card-header" align="center">
						<h3 align ="center">Tambah Medical Supplies</h3>
					</div>
						<form th:action="@{/medical-supplies/tambah}" th:object=${medicalSupplies} method="POST">
							<input type="hidden" name = "id" th:value="${medicalSupplies.id}">
							<input type="hidden" name = "jumlah" th:value=0>
							<table cellpadding ="10" align="center">
								<tr>
									<td>Nama</td>
									<td><input type="text" name="nama" th:value="${medicalSupplies.nama}"class="form-control"/></td>
								</tr>
								<tr>
									<td>Price</td>
									<td><input type="text" name="price" th:value="${medicalSupplies.price}"class="form-control"/></td>
								</tr>
								<tr>
									<td>Deskripsi</td>
									<td><input type="text" name="deskripsi" th:value="${medicalSupplies.deskripsi}" class="form-control"/></td>
								</tr>
								<tr>
									<td>Jenis Medical Supplies</td>
									<td>
										<select class="form-control" required="required" name="jenisMedicalSupplies">
											<option disabled="disabled" selected="selected" >-- JenisMedicalSupplies --</option>
											<option th:each="jenisMedicalSupplies : ${jenisMedicalSupplies}" th:value="${jenisMedicalSupplies.id}" th:text="${jenisMedicalSupplies.jenisMedicalSupplies}"></option>
										</select>
									</td>
								</tr>
							    <tr>
							       	<td><button type="submit" name="save" class="btn btn-primary">Submit</button><td>
							        </tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
</body>
</html>