<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SI Farmasi</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body class="bg-light">
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
    <div class="container-fluid">
    	<br>
        <div align="center"><img src="https://i.pinimg.com/originals/7e/88/cc/7e88cce2beec5f097aa60245d9d70fc0.png" height="100px" width="100px"/></div>
        <h2 style="text-align:center;" th:text=" 'Selamat Datang di SI Farmasi, ' + ${#httpServletRequest.remoteUser} + ' !'">Login as</h2>
        <br>
        <div class="row">
        	<div class="col-md-12">
				<div class="container-fluid bg-3 text-center">    
				  <div class="row">
				    <div class="col-sm-3">
				      <div class="card">
							<div class="card-header bg-info" style="color:white">
							    Lihat Detail Semua Permintaan
							</div>
							<div class="card-body">
							  	<form th:action="@{/medical-supplies/permintaan/}" method="get">
							  		<div>
							  			<button type="submit" class="btn btn-primary">Lihat Permintaan</button>
							  		</div>
							  	</form>
							</div>
						</div>
				    </div>
				    <div class="col-sm-3"> 
			      		<div class="card">
							<div class="card-header bg-info" style="color:white">
							    Lihat Detail Perencanaan
							</div>
							<div class="card-body">
							  	<form th:action="@{/medical-supplies/perencanaan/}" method="get">
							  		<div>
							  			<button type="submit" class="btn btn-primary">Lihat Perencanaan</button>
							  		</div>
							  	</form>
							</div>
						</div>    
				    </div>
				    <div class="col-sm-3"> 
				      	<div class="card">
							<div class="card-header bg-info" style="color:white">
							    Lihat Semua Medical Supplies
							</div>
							<div class="card-body">
							  	<form th:action="@{/medical-supplies/}" method="get">
							  		<div>
							  			<button type="submit" class="btn btn-primary">Lihat Medical Supplies</button>
							  		</div>
							  	</form>
							</div>
						</div>
				    </div>
				    <div class="col-sm-3">
				      	<div class="card">
							<div class="card-header bg-info" style="color:white">
							    Tambah Jadwal Jaga
							</div>
							<div class="card-body">
							  	<form th:action="@{/medical-supplies/jadwal-staf/tambah}" method="get">
							  		<div>
							  			<button type="submit" class="btn btn-primary">Tambah Jadwal</button>
							  		</div>
							  	</form>
							</div>
						</div>
				    </div>
				  </div>
				</div><br>
	
				<div class="container-fluid bg-3 text-center">    
				  <div class="row">
				    <div class="col-sm-3">
				     	<div class="card">
							<div class="card-header bg-info" style="color:white">
							    Lihat Jadwal Jaga
							</div>
							<div class="card-body">
							  	<form th:action="@{/medical-supplies/jadwal-staf/}" method="get">
							  		<div>
							  			<button type="submit" class="btn btn-primary">Melihat Jadwal Jaga</button>
							  		</div>
							  	</form>
							</div>
						</div>
				    </div>
				    <div class="col-sm-3">
				     	<div class="card">
							<div class="card-header bg-info" style="color:white">
							    Tambah Medical Supplies
							</div>
							<div class="card-body">
							  	<form th:action="@{/medical-supplies/tambah/}" method="get">
							  		<div>
							  			<button type="submit" class="btn btn-primary">Tambah</button>
							  		</div>
							  	</form>
							</div>
						</div>
				    </div>
				  </div>
				</div><br>
				<div class="container-fluid bg-6 text-center">
					<div class="row">
						<div class="col-sm-6">
					     	<div class="card">
								<div class="card-header bg-info" style="color:white">
								    Tambah Perencanaan
								</div>
								<div class="card-body">
								  	<form th:action="@{/medical-supplies/perencanaan/tambah}" method="POST" th:object="${perencanaan}">
								  		<div class="form-group row">
										    <label for="id_medical_supplies" class="col-sm-2 col-form-label">Medical Supplies</label>
										    <div class="col-sm-10">
												<div >
													<select  class="form-control" required="required" name="medicalSupplies">
												      <option th:each="medsup : ${listMedicalSupplies}" th:value="${medsup.id}" th:text="${medsup.nama}"></option>
												    </select>
												</div>
										    </div>	    
										</div>
										
										<div class="form-group row">
										   <label for="tanggal" class="col-sm-2 col-form-label">Tanggal</label>
										   <div class="col-sm-10">
										     <input type="date" class="form-control" name="tanggal">
										   </div>
										</div>
										
										<input type="hidden" class="form-control" name="status" th:value="Diajukan">
								
										<input type="hidden" class="form-control" name="nama" value="sebuah perencanaan">
												
										<div class="form-group row">
										   <label for="jumlah" class="col-sm-2 col-form-label">Jumlah</label>
										   <div class="col-sm-10">
										     <input type="number" class="form-control" name="jumlah">
										   </div>
										</div>
										
										<button type="submit" class="btn btn-primary">Tambah Perencanaan</button>
									</form>
								</div>
							</div>
					    </div>
					    <div class="col-sm-6">
					     	<div class="card">
								<div class="card-header bg-info" style="color:white">
								    Tambah User
								</div>
								<div class="card-body">
								  	<form th:action="@{/user/addUser}" method="post">
								  		<div class="row form-group">
								  			<label class="col-sm-4"> User Name</label>
								  			<input class="col-sm-8 form-control input-sm" type="text" name="username"/>
								  		</div>
								  		<div class="row form-group">
								  			<label class="col-sm-4"> Password </label>
								  			<input class="col-sm-8 form-control input-sm" type="password" name="password"/>
								  		</div>
								  		<div class="row form-group">
								  			<label class="col-sm-4"> Role </label>
								  			<input class="col-sm-8 form-control input-sm" type="text" name="role"/>
								  		</div>
								  		<div>
								  			<button type="submit" class="btn btn-primary">Simpan</button>
								  		</div>
								  	</form>
								</div>
							</div>
					    </div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</body>

</html>