<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Permintaan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="bg-light">
<nav th:replace="fragments/fragment :: navbar(name='Home')"></nav>

<div class="container">
    <br>
    <div align="center"><img src="https://i.pinimg.com/originals/7e/88/cc/7e88cce2beec5f097aa60245d9d70fc0.png"
                             height="100px" width="100px"/></div>
    <h2 style="text-align:center;">Update Status Permintaan </h2>
    <br>
    <div class="card">
        <div class="card-header">Update Status Permintaan</div>
        <table width="80%">
            <tr>
                <th>Nama</th>
                <td th:text="${permintaan.medicalSupplies.nama}"></td>
            </tr>
            <tr>
                <th>Jumlah</th>
                <td th:text="${permintaan.jumlahMedicalSupplies}"></td>
            </tr>
            <tr>
                <th>Jenis</th>
                <td th:text="${permintaan.medicalSupplies.jenisMedicalSupplies.jenisMedicalSupplies}"></td>
            </tr>
        </table>
        <div class="card-body">
            <form th:action="@{/medical-supplies/permintaan/ubah}" th:object=${permintaan} method="POST">
                <input type="hidden" name="id" th:value="*{id}">
                <input type="hidden" name="tanggal" th:value="*{tanggal}">
                <input type="hidden" name="jumlahMedicalSupplies" th:value="*{jumlahMedicalSupplies}">
                <input type="hidden" name="idPasien" th:value="*{idPasien}">
                <input type="hidden" name="medicalSupplies" th:field="*{medicalSupplies}" th:value="${permintaan.medicalSupplies}">
                <input type="hidden" name="jadwalPermintaan" th:field="*{jadwalPermintaan}" th:value="${permintaan.jadwalPermintaan}">
                <div class="form-group">
                    <label class="control-label col-sm-4">Status:</label>
                    <select class="form-control" required="required" th:field="${permintaan.statusPermintaan}" name="statusPermintaan">
                        <option th:each="status : ${statusPermintaan}" th:value="${status.id}"
                                th:text="${status.nama}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" method="POST">Simpan</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>