<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Daftar Permintaan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="bg-light">
<nav th:replace="fragments/fragment :: navbar(name='Home')"></nav>

<div class="container">
    <br>
    <div align="center"><img src="https://i.pinimg.com/originals/7e/88/cc/7e88cce2beec5f097aa60245d9d70fc0.png"
                             height="100px" width="100px"/></div>
    <h2 style="text-align:center;">Detail Permintaan </h2>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Tanggal</th>
            <th>Nama medical supplies</th>
            <th>Jumlah medical supplies</th>
            <th>Jenis medical supplies</th>
            <th>Status permintaan</th>
            <th>Staf apoteker</th>
            <th>ID Pasien</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detail : ${detail}">
            <td th:text="${detail.permintaan.tanggal}"></td>
            <td th:text="${detail.permintaan.medicalSupplies.nama}"></td>
            <td th:text="${detail.permintaan.jumlah}"></td>
            <td th:text="${detail.permintaan.medicalSupplies.jenisMedicalSupplies.jenisMedicalSupplies}"></td>
            <td th:text="${detail.permintaan.statusPermintaan.nama}"></td>
            <td th:text="${detail.namaStaff}"></td>
            <td th:text="${detail.permintaan.idPasien}"></td>
			<td>
                <form th:action="@{|/medical-supplies/permintaan/ubah/${detail.permintaan.id}|}" method="GET">
                    <button class="btn btn-primary">Ubah</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>

</html>