<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Daftar Medical Supplies</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<style>
#box {
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
</style>
<body class="bg-light">
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div align="center"><img src="https://i.pinimg.com/originals/7e/88/cc/7e88cce2beec5f097aa60245d9d70fc0.png" height="100px" width="100px"/></div>
	<h2 id="box" style="text-align:center;">Daftar Medical Supplies</h2>
	<div class="container">
		<table id="table"  class="row-border cell-border hover order-column compact stripe">
			<thead>
				<tr>
					<th style="text-align: center">Nama</th>
					<th style="text-align: center">Jumlah</th>
					<th style="text-align: center">Harga</th>
					<th style="text-align: center">Check Out</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="medicalSupplies : *{listOfMedicalSupplies}">
					<td><a th:href="@{'/medical-supplies/' + ${medicalSupplies.id}}" th:text="${medicalSupplies.nama}"></a></td>
					<td th:text="${medicalSupplies.jumlahMedicalSupplies}"></td>
					<td th:text="'Rp ' +${medicalSupplies.price}"></td>
					<td>
						<form th:if="${medicalSupplies.jumlahMedicalSupplies > 0}" th:action="@{|/medical-supplies/checkout/${medicalSupplies.id}|}" method="GET">
							<button class="btn btn-primary">Tambah ke Rawat Jalan</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script>

	var editor;
	$(document).ready( function () {
		
    $('#table').DataTable();
} );
</script>
</html>