<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Daftar Permintaan</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar(name='Home')"></nav>
	
	<div class="container-fluid">
		<br>
		<table border="1">
			<thead>
				<tr>
					<th style="text-align: center">Tanggal</th>
					<th style="text-align: center">Nama medical supplies</th>
					<th style="text-align: center">Jumlah medical supplies</th>
					<th style="text-align: center">Jenis medical supplies</th>
					<th style="text-align: center">Status permintaan</th>
					<th style="text-align: center">Staf apoteker</th>
					<th style="text-align: center">ID Pasien</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="permintaan : ${listPermintaan}">
					<td th:text="${permintaan.tanggal}"></td>
					<td th:text="${permintaan.medicalSupplies.nama}"></td>
					<td th:text="${permintaan.jumlahMedicalSupplies}"></td>
					<td th:text="${permintaan.medicalSupplies.jenisMedicalSupplies.jenisMedicalSupplies}"></td>
					<td th:text="${permintaan.statusPermintaan.nama}"></td>
					<td th:text="${permintaan.jadwalPermintaan.staff.nama}"></td>
					<td th:text="${permintaan.idPasien}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>

</html>